<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css", href="/style/style.css">
    <script src="/style/w3data.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script>
      $(document).ready(function() {
        $(".datepicker").datepicker();
      });
    </script>
  </head>
  <body>
    <div class="header-nav" w3-include-html="/style/header.html"></div>
    <div class="content" id="app-title">
      <h1>Freelancers</h1>
    </div>
    <%= yield %>
  </body>

  <div id="background"></div>

  <script>
    w3IncludeHTML();
  </script>
</html>
