<% if flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>

<div class="content">
  <div class="form long-form">
    <h2>New Freelancer</h2>
    <div class="content">
      <form method="POST" action="<%= ENV['SUB_DIR'] %>/freelancers">

        <div class="long-field">
          <label>First Name:</label>
          <input class="field" type="text" name="first_name" required />
        </div>

        <div class="long-field">
          <label>Last Name:</label>
          <input class="field" type="text" name="last_name" required />
        </div>

        <div class="long-field">
          <label>E-mail:</label>
          <input class="field" type="email" name="freelancer_email" required />
        </div>

        <div class="long-field">
          <label>Dicipline:</label>
          <input class="field" type="text" name="dicipline" />
        </div>

        <div class="long-field">
          <label>Job Folder Name:</label>
          <input class="field" type="text" name="project_name" placeholder="1234N_Example_Job" required />
        </div>

        <div class="center-form">
          <div>
            <label>Workstation:</label>
          </div>
          <div class="checkbox-group">
            <input type="radio" name="workstation" value="Mac" class="css-checkbox" id="mac"/>
            <label for="mac" class="css-label">Mac</label>
            <input type="radio" name="workstation" value="PC" class="css-checkbox" id="pc"/>
            <label for="pc" class="css-label">PC</label>
            <input type="radio" name="workstation" value="Suite" class="css-checkbox" id="suite"/>
            <label for="suite" class="css-label">Suite</label>
          </div>
        </div>

        <div class="center-form">
          <div>
            <label>Booking Dates:</label>
          </div>
          <label>Start:</label>
          <input class="field datepicker" name="booking_start" required />
          <label>End:</label>
          <input class="field datepicker" name="booking_end" required />
        </div>

        <div class="center-form">
          <label>Notes (Other Hardware/Software needs, etc)</label>
          <textarea class="field" name="other_needs" rows="10" cols="56"></textarea>
        </div>

        <div class="center-field">
          <div>
            <label>Submitted by:</label>
          </div>
          <input class="field" type="text" name="sender" placeholder="Producer Name" required />
          <input class="field" type="email" name="producer_email" placeholder="Producer Email" required />
        </div>

        <div class="button">
          <input type="submit" value="Submit" />
        </div>

      </form>
    </div>
  </div>
</div>
